<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
header{
color:blue;
text-align: center;
margin-top:1px;
}
footer{
background-color: red;
border-radius:5px;
text-align: center;
color:white;
padding:2px;
border: 2px red;
margin:9%;
}

.regClass {
    background-color: lightgrey;
    width: 600px;
	height: 410px;
    padding: 25px;
	color: black;
	margin: 1px 210px 50px 310px;
}
</style>
</head>
<body>

<header><h2><marquee><i>create an account</marquee></i></h2></header>
<div ng-app="regApp" ng-controller="regCtrl" class="regClass">
<div ng-show="regStatus">
<br>
<form>
Welcome to {{firstName}} {{lastName}}   <br/><br/>
firstname:<br>
<input type="text" id="firstname" ng-model="firstName">
<br>
<br>
lastname:<br>
<input type="text" id="lastname" ng-model="lastName">
<br>
<br>
enter mobile number:<br>
<input type="text" id="entermobilenumber" ng-model="mobileNumber">
<br>
<br>
address :<br>
<input type="text" id="address" ng-model="address">
<br>
<br>
<button ng-click="registration()">submit</button>
</form>
<div ng-init="myVar = 'items.html'">
<h1>RESTAURANT</h1>
<p>Go to<a ng-href="{{myVar}}">{{myVar}}</a> to know!</p>
</div>

<br>

</div>
<div ng-hide="regStatus">
<a href="customer1.html"><i>LOGIN HERE</i></a>
<footer>we notified your presence here and login id- costumer and password-pass</footer>
</body>

<script>
var app = angular.module('regApp', []);
 app.controller('regCtrl',['$scope', function($scope) {
	$scope.regStatus = true;
    $scope.registration  = function() {
		$scope.regStatus = false;
	}
}]);
</script> 
</html>
